<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Weather-Forecast</title>
</head>
<body>
    <h1 class="top">Todays Weather-Forecast</h1>
    <div class="form">
    <h3>Temperature: <%= Temperature %> Celsius</h3>
    <h3>Feels Like: <%= FeelsLike %> </h3>
    <h3>Description:<%= Desc %> </h3>
    <img src="<%= icon %>" alt="icon" srcset="">
    </div>
</body>
</html>